/* =========================
   Articles Wrapper
========================= */
/* Light mode (default) */
.articles_wrapper {
  display: grid;
  gap: 1.5rem;
}
.articles_wrapper a {
  text-decoration: none;
}
.articles_wrapper a:hover,
.articles_wrapper h2:hover {
  text-decoration: underline;
  color: #34302d71 !important;
  text-decoration-color: #34302d3f !important;
  transition: all 200ms ease-in-out;
}
/* Dark mode */
.dark-mode .articles_wrapper a:hover,
.dark-mode .articles_wrapper h2:hover {
  color: #ffffff5d !important;
  text-decoration-color: #ffffff65 !important;
}

/* =========================
     Articles List Title
  ========================= */
.articles_list_title {
  position: relative;
  margin-bottom: 2.5rem;

  font-size: 32px;
  font-weight: 900;
  color: #34302d;
}

.articles_list_title::after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 270px;

  width: 55px;
  height: 4px;
  background: #add8ff;
}

/* =========================
     View All Button
  ========================= */
.viewall_btn {
  position: relative;
  margin-top: 1rem;

  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.viewall_btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 145px;
  height: 4px;
  background: #add8ff;
}
