.blog_page_container {
  position: relative;
  top: -10px;
  z-index: 1;

  display: flex;
  flex-direction: column;

  width: 90%;
  min-height: 100vh;
  margin-inline: auto;

  padding: 20px;
  padding-bottom: 3rem;

  background: #fbf9f7;
  border: 1px solid #1c1a1911;
  color: #4a4846;
  font-size: 18px;
}
.blog_heading {
  padding-bottom: 2rem;
  border-bottom: 1px solid #1c1a1911;
}
.blog_heading h2 {
  color: #34302d;
  font-size: 32px;
  font-weight: 900;
  margin-top: 1rem;
  position: relative;
}
.blog_heading h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: #add8ff;
  bottom: 10px;
  left: 210px;
}
.blog_heading p {
  color: #4a4846;
  font-size: 18px;
  margin-top: 0.5rem;
}
.articles_wrapper {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}
/* =========================
  MEDIA QUERIES
========================= */
@media (min-width: 768px) {
  /* styles for screens 768px bigger  */
  .blog_page_container {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  .blog_page_container {
    width: 50%;
    max-width: 640px;
  }
}
